
@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}



.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(207, 205, 205) 0.5px;
    background: white;
    padding-top: 15px;
    box-shadow: 0 1px rgb(231, 225, 225);
}

.logo {
    color: red;
    height: 68px;
    padding-left: 50px;
    margin-top: -15px;
    animation: spin 5s;
}

.headerMenu {
    text-align: right;
    flex-direction: row-reverse;
    padding-right: 50px;
    padding-bottom: 5px;
}

.menuItem {
    padding-bottom: 4px;
    margin-bottom: -4px;
}
